* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}




.box1 {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: #3b0e0e;

}

.box1 a img {
    width: 25px;


}



.box-video {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.text-video1 {
    width: 250px;
    font-size: 10px;
    display: block;
    text-align: center;
    align-items: center;


}

.text-video1 button  {
    margin-top: 40px;
    padding: 7px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    background: #3b0e0e;
    border: none;
    color: white;
}

.text-video1 button:hover {
    border: solid 1px rgb(3, 141, 134);
    transition: 0.5s;
background: #bd1004;
}

.text-video1 button a{
    text-decoration: none;
    color: white;
}

.caixa1 {
    width: 250px;
    height: 350px;
    text-align: center;
    display: block;
    align-items: center;




}


.servico {
    width: 300px;
    height: 350px;
    box-shadow: 10px 10px 12px black;
    border-radius: 10px;

}

.caixa-video-2{
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 100px;

}


.text-video1 h3{
padding-right: 20px;
}

.video-2{
    width: 70%;
    height: 100%;
    margin-top: 10px;
    box-shadow: 40px 10px 12px black;
    margin-top: 10px;
}


.servicos-completos{
    text-align: center;
    margin-top: 60px;
}

.container{
   display: blo;
   justify-content: space-between;
   align-items: center;
   text-align: center;
  

}

.caixa2{
width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center; 
    text-align: center;
   
}

.caixa3{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
  

.saiba-mais{
width: 100%;
height: 150px;
background: #3b0e0e;
margin-top: 30px;
color: white;
text-align: center;
font-size: 15px;
padding: 10px;
gap: 10px;
}


.saiba-mais ul li  {
 list-style-type: none;
}

.saiba-mais ul li a{

    text-decoration: none;
    color: rgb(124, 120, 120);
}

.saiba-mais ul li a:hover {
font-size:17px ;
color: white;

}

@media screen and (max-width: 654px) {

    body{
        overflow-x: hidden;
    }
    .box-video{
    
        display: grid;
        gap: 50px;
    }


    .servico{
        width: 250px;
        margin-bottom:50px ;
    }

    
.caixa2{
    display: grid;
}



.caixa3{
    display: grid;
}
}